.friends {
    grid-area: f;
    background-color: gray;
    padding-top: 50px;
    font-size: 20px;
}

.item {
    color: white;
    text-decoration: none;
}

.item a.activeLink{
    color: gold;
}

