.friends {
    grid-template-areas: "f f";
    grid-template-rows: 60px;
    background-color: gray;
    padding-top: 50px;
    font-size: 30px;
}

.item {
    grid-template-areas: "f f";
    color: white;
    text-decoration: none;
}

.item a.activeLink{
    color: gold;
}

