.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialogsItems {
    padding: 10px;

}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
    margin: 0 65px;
    background-color: #fff;
}

.messages .dialog{
    margin-bottom: 30px;
    margin-left: 80px;
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}
